<!DOCTYPE html>
<html lang="en" dir='ltr'>
  <head>
    <meta charset="utf-8">
    <title>ProjectA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class='nav navbar-nav'>
          <li><a class='navbar-brand' href="{% url 'index' %}">ProjectA</a></li>
          <li><a class='navbar-link' href="{% url 'admin:index' %}">Admin</a></li>
          <li><a class='navbar-link' href="{% url 'application:form' %}">Register</a></li>
          <li><a class='navbar-link' href="{% url 'application:other' %}">Other</a></li>
          {% if user.is_authenticated %}
            <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>
            <li><a class='navbar-link' href="{% url 'application:special' %}">Special</a></li>
          {% else %}
            <li><a class='navbar-link' href="{% url 'application:login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        {% block body_block %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
